body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    text-align: center;
}

body.dark-mode {
    color: #ffffff;
    background-image: radial-gradient(100% 100% at 100% 0, #333333 0, #171717 100%);
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode main,
body.dark-mode footer {
    background-color: #333333; 
    color: #ffffff; 
}

body.dark-mode h1,
body.dark-mode h2 {
    color: #ffffff; 
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer {
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

/* taken from some website?? */
.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.button a {
    text-decoration: none;
}

.button.dark-mode {
    background-image: radial-gradient(100% 100% at 100% 0, #404040 0, #2b2b2b 100%);
}

.c-programming-image {
    display: block;
    margin: auto;
    max-width: 20%;
}

.overview {
    text-align: center;
}

.overview table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
